{{>header}}
<main>
    <h1 id="qui">Qui sommes nous ?</h1>
    <div class="container">
        <div class="row">
            <img src="{{URL}}assets/img/team.jpg" id="team" alt="Photo de l'équipe de production" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        </div>
        <h2 id="nous" class=" col-xs-12 col-lg-8 col-lg-offset-2">Nous sommes 4 jeunes développeurs étudiants à l'Access Code School
          pour pouvoir vivre notre passion ! Dans le cadre de notre formation, nous avons eu pour
          projet de réaliser un site à partir de bases de données existantes. C'est ainsi qu'est né le projet
      "Date'Art" ! Les codeurs en question se nomment respectivement : Anthony, Kevin, Quentin et Boussad, tous motivés à
      en découdre avec la matrice.</h2>
    </div>
</main>
