<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    <title>Date'Art</title>

    <link rel="stylesheet" href="{{URL}}assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{URL}}assets/css/leaflet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{URL}}assets/css/style.css">

    <script src="{{URL}}assets/js/leaflet/leaflet.js"></script>
    <script src="{{URL}}assets/js/jquery.js"></script>
    <script src="{{URL}}assets/js/bootstrap.min.js"></script>


</head>

<body>
    <header>
		<script>
			$(document).ready(function(){
				$('.btn-header-connexion').click(function(){
					if($('#header-connexion').css('display') == 'none'){
						$('#header-connexion').show();
					}
					else{
						$('#header-connexion').hide();
					}
				});
			});


			function setCookie(cname, cvalue, exdays) {
				var d = new Date();
				d.setTime(d.getTime() + (exdays*24*60*60*1000));
				var expires = "expires="+ d.toUTCString();
				document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
			}

		</script>

        <!-- BURGER -->
        <!-- Navigation -->
        <div class="container-fluid">
                 <div  class="b-link col-lg-2 col-lg-push-1 col-xs-2" >
                     <a href="{{URL}}contact/" ><img src="{{URL}}assets/img/envelope.svg" alt="icône contactez nous" class="header-icons"></a>
                 </div>
                 <div class="b-link col-lg-1 col-xs-2">
                     <a  href="{{URL}}apropos/"><img src="{{URL}}assets/img/info.svg" alt="icône à propos" class="header-icons"></a>
                 </div>
                 <div id="logoCentre"  class="col-lg-6 col-xs-4 ">
                     <a href="{{URL}}" ><img src="{{URL}}assets/img/logoDART.svg" class="site-title" alt="Logo du site Date' Art"></a>
                 </div>
            {{^USER_CONNECT}}
            <div class="btn-header-connexion-content">
                <a class="btn-header-connexion col-lg-1 col-lg-push-11">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
                <div id="header-connexion">
                    <form class="form-horizontal" method="post" action="{{url}}connexion/">
                        <fieldset>
                            <!-- Form Name -->
                            <legend>Connexion</legend>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">E mail</label>
                                <div class="col-md-4">
                                    <input id="textinput" name="connexionEmail" placeholder="email" class="form-control input-md" type="text">
                                </div>
                            </div>

                            <!-- Password input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="passwordinput">Mot de passe</label>
                                <div class="col-md-4">
                                    <input id="passwordinput" name="connexionMDP" placeholder="Mot de passe" class="form-control input-md" type="password">
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for=""></label>
                                <div class="col-md-4">
                                    <button id="" name="connexion" class="btn btn-primary">Connexion</button>
                                    <a href="{{URL}}inscription/" class="btn btn-success">Inscription</a>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            {{/USER_CONNECT}}
			{{#USER_CONNECT}}
			<a class="col-lg-1 col-lg-push-1">
                <img src="{{URL}}assets/img/france.svg" id="france" alt="Carte de france">
            </a>

			<script>
				$(document).ready(function(){
					$('#france').click(function(){
						console.log('ok');
						setCookie('region', 0, -1);
						window.location.replace('{{URL}}');
					});
				});
			</script>

            <div class="btn-header-connexion-content">
                <a href="{{URL}}deconnexion/" class="btn-header-connexion col-lg-1 col-lg-push-11">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </div>
            {{/USER_CONNECT}}
        </div>

    </header>
