@font-face {
    font-family: "lithos";
    src: url(../fonts/LithosPro-Regular.otf);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  margin-top: 5%;
}
figure{
  margin-bottom: 4%;
}
figcaption{
  margin:0%;
  padding:0;
}
figcaption img {
  width: 90%;
  max-height: 450px;
  min-height: 450px;
}
figcaption p{
  text-align: center;
  font-family: "lithos";
  font-size: 1em;
}
a, a:hover, a:visited, a:active, a:focus{
  text-decoration: none;
  color: #c1272d;
}
.museeName {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
